<div class="add-post-container">
  <h1 class="form-title">Add Post</h1>

  <div class="form-card">
    <form appearance="fill" [formGroup]="form" (submit)="submit()">

      <div class="form-group">
        <label class="label-content" for="title">Title</label>
        <input class="input-content" placeholder="Title" formControlName="title" type="text">
        <span class="req-field" *ngIf="form.controls.title.touched
        &&  form.controls.title.invalid">This field is required!</span>
      </div>

      <div class="form-group">
        <label class="label-content" for="contentType">Media Type</label>
        <select class="input-content" id="contentType" formControlName="contentType" >
          <option value="null" style="display: none;">No Media Type Selected</option>
          <option *ngFor="let type of contentType | keyvalue" [ngValue]="type.value">{{type.key}}</option>
        </select>
      </div>

      <div class="form-group">
        <label class="label-content" for="contentType">Media File</label>
        <div>
          <input style="display: none;" id="files" (change)="getFile($event)" placeholder="File" type="file" required>
          <label for="files" class="input-content file-upload">{{fileName}}</label>
        </div>
          <span class="req-field" *ngIf="form.controls.file.touched && form.controls.file.invalid">Please upload file</span>
      </div>

      <div class="form-group" formArrayName="tagIds" >
        <label class="label-content" for="tagIds">Tags</label>
        <div class="multicheck">
          <div class="tag-card" *ngFor="let tag of tags; let i = index">
            <label class="tag-label" for="{{tag.name}}">
              <input class="tag-selector" id="{{tag.id}}" type="checkbox" formControlName="{{i}}" [value]="tag.name" />
              {{tag.name}}
            </label>
          </div>
          
        </div>
          <p class="req-field" *ngIf="this.form.controls['tagIds'].errors?.['required']">
            Checkbox is required, select atleast one value.
          </p>
      </div>

      <button class="input-content add-item-btn" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
</div>
