<mat-toolbar color="primary" class="site-header">
  <mat-toolbar-row>
    <button mat-icon-button class="menu-icon" fxShow="true">
      <mat-icon style="align-self: center;">menu</mat-icon>
    </button>
    <a class="site-title" href="#">FunReel</a>
    <span class="menu-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="auth-icon" aria-label="icon-button" >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/log-in" routerLinkActive="active">Log-In</button>
      <button mat-menu-item routerLink="/sign-up" routerLinkActive="active">Sign-Up</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
