<div class="row" style="margin-top: 100px;">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card forget-password">
          
          <form (submit)="forgotPassword(fPassword)" #fPassword="ngForm">
            <div class="form-group forget-password-text">
                <h1>Did you forget your password?</h1>
                <p>Please enter your email below and we will send you a new password.</p>
            </div>
                <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="exemple@gmail.com" ngModel autocomplete="off">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-my" value="Submit">Submit</button>
            </div>
          </form>
  
  
        </div>
      </div>
    </div>
  </div>
  