.forget-password {
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.forget-password-text h1 {
    font-style: italic;
}
.forget-password input {
    margin: 10px auto;
    width: 75%;
}